<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/" class="{{#if isHomeActive}}active{{/if}}">Home</a>
        <a href="/watched" class="{{#if isWatchedActive}}active{{/if}}">Watched</a>
        {{#if movie}}
        <a href="/movies/{{movie.id}}" class="{{#if isMovieActive}}active{{/if}}">Movie Details</a>
        {{/if}}
    </nav>

    <main>
        {{{body}}}
    </main>
</body>
</html>